KEY=replace-me
SECRET=replace-me
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=replace-me
DB_CLIENT=pg
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=tabora_directus
DB_USER=tabora
DB_PASSWORD=tabora
REDIS=redis://redis:6379
STORAGE_LOCATIONS=s3
STORAGE_S3_DRIVER=s3
STORAGE_S3_KEY=minioadmin
STORAGE_S3_SECRET=minioadmin
STORAGE_S3_BUCKET=tabora
STORAGE_S3_REGION=us-east-1
STORAGE_S3_ENDPOINT=http://minio:9000
STORAGE_S3_FORCE_PATH_STYLE=true
